[submodule "plugins/maya/Unreal-Maya-Pipeline"]
	path = plugins/maya/Unreal-Maya-Pipeline
	url = https://github.com/arunprksm/Unreal-Maya-Pipeline.git
	branch = main
[submodule "plugins/max/3dsMax-Asset-Tools-for-Unreal-Engine"]
	path = plugins/max/3dsMax-Asset-Tools-for-Unreal-Engine
	url = https://github.com/dexise/3dsMax-Asset-Tools-for-Unreal-Engine.git
	branch = master
[submodule "plugins/maya/LOD-Generator-Tool-Maya"]
	path = plugins/maya/LOD-Generator-Tool-Maya
	url = https://github.com/NguyenNP-24/LOD-Generator-Tool-Maya.git
	branch = main
[submodule "plugins/maya/Automated_LOD_Tool"]
	path = plugins/maya/Automated_LOD_Tool
	url = https://github.com/SaiiPrashanth/Automated_LOD_Tool.git
	branch = main
[submodule "plugins/maya/LeeAutoExportFBX"]
	path = plugins/maya/LeeAutoExportFBX
	url = https://github.com/leetdvn/LeeAutoExportFBX.git
	branch = master
[submodule "plugins/max/3dsmax-fbx-conform-and-batch-render"]
	path = plugins/max/3dsmax-fbx-conform-and-batch-render
	url = https://github.com/Joyxt/3dsmax-fbx-conform_and_batch-render.git
	branch = main
